:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --background-accent-color: #2f303a;
  --dark-theme-text-color: #ffffff;
  --body-background-color: #ffffff;
  --hedear-border-color: #ececec;
  --portfolio-card-border-color: #eeeeee;
  --btn-hover-color: #188ce8;
  --hero-bg-color: #c4c4c4;
  --secondary-bg-color: #f5f4fa;
  --social-link-color: #afb1b8;
  --modal-bg-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
